/* Load fonts asynchronously */
@import url('https://fonts.googleapis.com/css2?family=Fragment+Mono:ital@0;1&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap') print;

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer {
  @font-face {
    font-family: "Reckless";
    src: url(/src/assets/RecklessNeue-Regular.woff2) format(woff2);
    font-display: swap;
  }
}

:root {
  font-family: "Space Mono", monospace;
  line-height: 1.5;
  font-weight: 400;
  color: rgb(24 24 27);
  background-color: #F9F9F3;
}

html {
  scroll-behavior: smooth;
}


.item {
  margin-top: 1px;
  margin-left: 1px;
}

.nav__item {
  font-size: clamp(33px, 3vw, 24px);
}
